@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  --highlight: #1A3433;
  --bg: #CCB58A;
}

body{
  -webkit-tap-highlight-color: transparent;
  color: var(--highlight);
  background-color: var(--bg);
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    #FCDEF2 0%,
    #FCDEF2 26%,
    #FCDEF2 39%,
    #FCDEF2 50%,
    #D7D0E9 61%,
    #FEEEDE 74%,
    #D7D0E9 100%
  );
  filter: blur(125px);
}

.contact-us {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 0.75rem;
  color: var(--highlight);
  transition: all 1000ms;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--highlight);
}

.contact-us:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid var(--highlight);
  box-shadow: 4px 5px 17px -4px var(--highlight);
}

.contact-us::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--highlight);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;
}

.contact-us:hover::before {
  width: 250%;
}
